<div class="w3-card">
    <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">
        <div class="row p-3">
            <div class="col-12 mb-2">
                <label>Usuario:</label>
                <input id="usuario" type="text" class="form-control" formControlName="usuario">
            </div>
            <div class="col-12">
                <label>Senha:</label>
                <input id="senha" type="password" class="form-control" formControlName="senha">
            </div>
            <div class="col-12">
                <label>Email:</label>
                <input id="email" type="email" class="form-control" formControlName="email">
            </div>
            <div class="col-12 mt-3">
                <button type="submit" class="btn btn-outline-success btn-lg float-rigth">Cadastrar</button>
            </div>
        </div>
    </form>
</div>